html {
  scroll-behavior: smooth;
}

body {
  background-color: #460030;
  text-align: center;
}

h1 {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  font-size: xx-large;
}

h2 {
  font-size: large;
  color: aqua;
}
